div.nav_bar
{
	padding: 10px 0px 10px 0px;
	float: right;
	clear: both;
}

div.nav_bar div.slash
{
	display: block;
	height: 30px;
	width: 19px;
	float: left;
	background: #fff url(../../img/navbar/slash.gif) no-repeat scroll center;
}

div.nav_bar a
{
	display: block;
	height: 30px;
	float: left;
}

div.nav_bar a.download
{
	width: 111px;
	background: #fff url(../img/nav/download.gif) no-repeat scroll center;
}

div.nav_bar a.download:hover
{
	background: #fff url(../img/nav/download-hot.gif) no-repeat scroll center;
}

div.nav_bar a.order
{	
	width: 92px;
	background: #fff url(../img/nav/order.gif) no-repeat scroll center;	
}

div.nav_bar a.order:hover
{
	background: #fff url(../img/nav/order-hot.gif) no-repeat scroll center;
}

div.nav_bar a.writeus
{
	width: 135px;
	background: #fff url(../img/nav/writeus.gif) no-repeat scroll center;
}

div.nav_bar a.writeus:hover
{
	background: #fff url(../img/nav/writeus-hot.gif) no-repeat scroll center;
}